[Desktop Entry]
Categories=
Comment=Oleafly - the intelligent research workspace, free, local-first, 100% open source
Exec=oleafly-desktop %F
StartupWMClass=oleafly-desktop
Icon=oleafly-desktop
Name=Oleafly
Terminal=false
Type=Application
