[Desktop Entry]
Type=Service
MimeType=inode/directory;
Actions=openWithOleafly;
X-KDE-Priority=TopLevel

[Desktop Action openWithOleafly]
Name=Open with Oleafly
Name[zh_CN]=用 Oleafly 打开
Name[zh_TW]=以 Oleafly 開啟
Name[de]=Mit Oleafly öffnen
Name[fr]=Ouvrir avec Oleafly
Name[es]=Abrir con Oleafly
Name[it]=Apri con Oleafly
Name[nl]=Openen met Oleafly
Name[pt_BR]=Abrir com o Oleafly
Name[pl]=Otwórz w programie Oleafly
Name[ru]=Открыть с помощью Oleafly
Name[uk]=Відкрити за допомогою Oleafly
Name[tr]=Oleafly ile aç
Name[cs]=Otevřít v aplikaci Oleafly
Name[da]=Åbn med Oleafly
Name[sv]=Öppna med Oleafly
Name[nb]=Åpne med Oleafly
Name[fi]=Avaa sovelluksella Oleafly
Name[ro]=Deschide cu Oleafly
Name[ja]=Oleafly で開く
Name[ko]=Oleafly로 열기
Icon=oleafly-desktop
Exec=/usr/bin/oleafly-desktop --open-folder %f
